## Practical Statistics for Data Scientists
Data: kaggle.com/arjunprasadsarkhel/2021-olympics-in-tokyo

In [1]:
import pandas as pd
import numpy as np

In [2]:
medal_count = pd.read_excel('Medals.xlsx')
medal_count

C:\Users\ardaz\anaconda3\envs\TokyOlimpicsDataset\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

# Estimates of Location

In [3]:
# Mean

medal_count['Total'].mean()

11.612903225806452

In [4]:
# Weighted Mean
np.average(medal_count['Total'], weights=medal_count['Gold'])

46.832352941176474

In [5]:
# Trimmed Mean

from scipy.stats import trim_mean
trim_mean(medal_count['Total'], 0.1)

6.8933333333333335

In [6]:
# Median

medal_count['Total'].median()

4.0

In [12]:
# Weighted Median: not available in pandas or NumPy

In [13]:
# Percentile: Veri dizilerinin yüzdelik dilimlerini hesaplamak için kullanılır.

q3 = np.percentile(medal_count['Total'], 75)
q3

11.0

In [ ]:
# Robust Statistics: Aykırı değerlerden etkilenmeyen istatistiklerdir. Aykırı değerlerin etkisini azaltmak için kullanılır. Trimmed Mean ile yakından ilişkilidir.

In [14]:
medal_count.describe()

            Rank       Gold     Silver     Bronze       Total  Rank by Total
count  93.000000  93.000000  93.000000  93.000000   93.000000      93.000000
mean   46.333333   3.655914   3.634409   4.322581   11.612903      43.494624
std    26.219116   7.022471   6.626339   6.210372   19.091332      24.171769
min     1.000000   0.000000   0.000000   0.000000    1.000000       1.000000
25%    24.000000   0.000000   0.000000   1.000000    2.000000      23.000000
50%    46.000000   1.000000   1.000000   2.000000    4.000000      47.000000
75%    70.000000   3.000000   4.000000   5.000000   11.000000      66.000000
max    86.000000  39.000000  41.000000  33.000000  113.000000      77.000000

In [21]:
# Estimates of Variability (Değişkenlik Tahminleri)

# Standard Deviation (Standart Sapma): Veri setindeki değerlerin ne kadar değişken olduğunu gösterir. Aykırı değerlerden etkilenir.

# Range: Veri setindeki en büyük ve en küçük değer arasındaki farktır. Aykırı değerlerden etkilenir.

from statistics import variance, stdev
variance_total = variance(medal_count['Total'])
variance_gold = variance(medal_count['Gold'])
print(variance_total, variance_gold)

364.4789621318373 49.315100514259